.login-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0 4px 16px var(--shadow);
  margin-top: 2rem;
}

@media (max-width: 576px) {
  .login-form-container {
    padding: 1.5rem;
  }
}
